* {
  box-sizing: border-box;
}

#pageContainer {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  gap: 16px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ccb7a7;
}

header {
  position: relative;
  height: 60vh;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 10px;
}

nav a {
  margin: 50px;
  padding: 8px;
  background-color: beige;
  border-radius: 12px;
  border: 1px solid white;
  color: #030303;
  text-decoration: none;
  font-size: 20pt;
  transition: transform 0.3s ease;
}

nav a:hover {
  background-color: rgba(245, 245, 220, 0.764);
  color: #030303e6;
  transform: scale(1.1);
}

.menu-item {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px;
  background-color: #654835;
  color: white;
  border: 2px solid rgb(216, 195, 179);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.732);
  width: 250px;
  padding: 15px;
  text-align: center;
}

.menu-item img {
  border: 1px solid beige;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.item-name {
  /* we need to update name to match Js*/
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}

.item-price {
  color: rgb(255, 255, 255); /* we need to update name to match Js*/
  font-size: 18px;
  margin: 5px;
  font-weight: bold;
}

.item-description {
  font-size: 14px;
  color: rgb(255, 255, 255); /* we need to update name to match Js*/
  margin: 10px;
}

.menubutton {
  margin: auto;
  background-color: #ccb7a7;
  width: 100px;
  color: black;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: transfrom 0.3s ease;
  text-decoration: none;
}

.menubutton:hover {
  transform: scale(1.1);
}

#statusText {
  background-color: rgba(0, 0, 0, 50%);
}
.success {
  color: green;
}

.fail {
  color: red;
}

form {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
  padding: 24px;
  background-color: rgba(0, 0, 0, 50%);
  color: white;
}

form div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#menu-section {
  background-color: #ccb7a7;
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
